<%- include('initial/header.ejs') %>
    <div class="jumbotron jumbotron-flud">
      <div class="container">
        <h1 class="display-5"><%= title %></h1>
        <p class="lead">
          <ul>
            <li><%= descriere1 %></li>
            <li><%= descriere2 %></li>
          </ul></p>
      </div>
    </div>
  
<%- include('initial/footer.ejs') %>