<%- include('../initial/header.ejs') %>
    <div class="container">

	<% if (messages.error) { %>
	<div class="alert alert-danger" role="alert"><%- messages.error %></div>
	<% } %>

    <div class="card"> 
    	<div class="card-header">
			Modifica Student
		</div>
        <div class="card-body">
            <form action="/students/updateStud/<%= id %>" method="post">
                <div class="form-group">
                    <label for name = "nume">Nume:</label>
                    <input type="text" class="form-control" name="nume" value="<%= nume %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for name = "prenume">Prenume:</label>
                    <input type="text" class="form-control" name="prenume" value="<%= prenume %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for name = "email">Email:</label>
                    <input type="email" class="form-control" name="email" value="<%= email %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for name = "grupa">Grupa:</label>
                    <input type="text" class="form-control" name="grupa" value="<%= grupa %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Modifica"/>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('../initial/footer.ejs') %>