<%- include('../initial/header.ejs') %>
    <div class="container">

                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-pills w-100">
                                    <li class="nav-item active">
                                        <a class="nav-link">Evidenta</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <%=data.length  %> 
                                <% if(data.length) { %>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nume</th>
                                                <th scope="col">Prenume</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Grupa</th>
                                                <th scope="col">Proiect</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <% for(var i=0; i< data.length; i++) { %>
                                                <% elem = data[i] %>
                                             
                                                <tr>
                                                    <th scope="row">
                                                        <%= (i+1) %>
                                                    </th>
                                                    <td>
                                                        <%= elem.nume%>
                                                    </td>
                                                    <td>
                                                        <%= elem.prenume%>
                                                    </td>
                                                    <td>
                                                        <%= elem.email%>
                                                    </td>
                                                    <td>
                                                        <%= elem.grupa%>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                              Proiecte
                                                            </button>
                                                            <div class="dropdown-menu">
                                                              <% for(var j = 0; j < elem.denumire.length; j++) {%> 
                                                                <a class="dropdown-item" href="/evidenta/note/<%= elem.id %>/<%= elem.idProiecte[j] %> "><%=  elem.denumire[j] %></a>
                                                                <a class="dropdown-item" href="#">Nota pentru <%= elem.denumire[j]  %>: <%= elem.nota[j] %>  </a>
                                                               <% } %> 
                                                              
                                                            </div>
                                                          </div>
                                                    </td>
                                                </tr>
                                              
                                                <% } %>
                                        </tbody>
                                    </table>
                                    <% } %>

                                        <!-- if result is empty -->
                                        <% if(!data.length) { %>
                                            <p class="text-center">Nu a fost gasit niciun student!</p>
                                            <% } %>

                            </div>
                        </div>

</div>
<%- include('../initial/footer.ejs') %>