<%- include('../initial/header.ejs') %>
    <div class="container">

	<% if (messages.error) { %>
	<div class="alert alert-danger" role="alert"><%- messages.error %></div>
	<% } %>

    <div class="card"> 
    	<div class="card-header">
			Modifica Proiect
		</div>
        <div class="card-body">
            <form action="/projects/updateProj/<%= id %>" method="post">
                <div class="form-group">
                    <label for name = 'denumire'>Denumire:</label>
                    <input type="text" class="form-control" name="denumire" value="<%= denumire %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for name = "descriere">Descriere:</label>
                    <textarea class="form-control" name="descriere"><%= descriere %></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Modifica"/>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('../initial/footer.ejs') %>